@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbd5e5;
  z-index: 2;
}

.header-container {
  max-width: 1180px;
  margin: 0 auto;
}

.header-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  position: relative;
  z-index: 3;
}

.header-logo img {
  max-width: 100%;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header-list li {
  list-style: none;
  margin-left: 20px;
}

.header-link {
  color: #d3b7cc;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header-burger {
  display: none;
}

section {
  padding-top: 20px;
  padding-bottom: 60px;
}

.cap-container {
  padding-top: 50px;
  background-color: #fbd5e5;
  margin: 0;
}

.cap-container .cap-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cap-container .cap-title {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 74px;
  letter-spacing: 0.1em;
  color: #ffd700;
}

.cap-container .cap-description {
  font-size: 82px;
  color: #75bbfd;
}

.cap-container .cap-subtitle {
  margin-top: 20px;
  font-size: 24px;
  color: #808000;
}

.cap-container .cap-subtitle {
  overflow: hidden;
}

.cap-container .cap-subtitle:before,
.cap-container .cap-subtitle:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  height: 1px;
  background: #6b8e23;
  margin: 10px;
}

.cap-container .cap-subtitle:before {
  margin-left: -100%;
}

.cap-container .cap-subtitle:after {
  margin-right: -100%;
}

.cap-container .mint {
  height: 150px;
}

.container {
  width: 90%;
  max-width: 945px;
  margin: auto;
}

.container .section-title {
  text-align: center;
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 56px;
  letter-spacing: 0.3em;
  color: #ffd700;
}

.container .section-subtitle {
  text-align: center;
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #808000;
  margin-bottom: 28px;
}

.order-img {
  float: left;
  width: 20%;
  display: block;
  z-index: 2;
}

.order-img img {
  float: right;
}

.how-to-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order-block {
  margin-left: -50px;
  float: left;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 6px -4px 30px #fbd5e5, 0px -4px 30px #fbd5e5, inset 0px -6px 30px #b3b184, inset -8px 6px 30px #8fa053;
          box-shadow: 6px -4px 30px #fbd5e5, 0px -4px 30px #fbd5e5, inset 0px -6px 30px #b3b184, inset -8px 6px 30px #8fa053;
  border-radius: 0px 20px 20px 0px;
}

.order-block .order-item {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 5%;
}

.order-block .order-image {
  width: 20%;
  float: left;
}

.order-block .order-content {
  width: 80%;
  float: left;
}

.order-block .order-title {
  font-family: Libre Caslon Display;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  color: #75bbfd;
}

.order-block .order-subtitle {
  font-family: Pacifico;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #bfa100;
}

.order-block .underline {
  color: #bfa100;
  text-decoration: underline;
}

.catalog-section {
  padding: 1.5rem;
}

:root {
  --black: #3a3a3a;
  --white: #fff;
  --green: #49b293;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol {
  list-style: none;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h1 a {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

h1 a:hover {
  background: var(--green);
  color: var(--white);
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

/* FILTERS
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.filter-heading {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.filter-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.filters {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters label {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 13px;
  font-family: Libre Caslon Display;
  min-width: 100px;
  font-size: 12px;
  line-height: 14px;
  background: #f0f0f0;
  border-right: 1px solid #fbd5e5;
  -webkit-transition: border 0.2s, background 0.2s, color 0.2s;
  -o-transition: border 0.2s, background 0.2s, color 0.2s;
  transition: border 0.2s, background 0.2s, color 0.2s;
}

.filters label:hover {
  background: #75bbfd;
  border-right-color: #75bbfd;
}

/* FILTERED ELEMENTS (POSTS)
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.posts .post {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post-title {
  font-size: 1.3rem;
}

.posts .post-title:hover {
  text-decoration: underline;
}

.posts figcaption {
  padding: 1rem;
}

.posts img {
  width: 100%;
  height: 100%;
}

/*DESIGN-FILTERING RULES
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

[value="all-design"]:checked ~ .filters [for="all-design"],
[value="wedding"]:checked ~ .filters [for="wedding"],
[value="kids"]:checked ~ .filters [for="kids"],
[value="woman"]:checked ~ .filters [for="woman"],
[value="man"]:checked ~ .filters [for="man"] {
  background: var(--green);
  color: var(--white);
}

[value="all-design"]:checked ~ .posts [data-category] {
  display: block;
}

[value="wedding"]:checked ~ .posts .post:not([data-category~="wedding"]),
[value="kids"]:checked ~ .posts .post:not([data-category~="kids"]),
[value="woman"]:checked ~ .posts .post:not([data-category~="woman"]),
[value="man"]:checked ~ .posts .post:not([data-category~="man"]) {
  display: none;
}

/*FILLING-FILTERING RULES
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

[value="all-filling"]:checked ~ .filters [for="all-filling"],
[value="chocolate"]:checked ~ .filters [for="chocolate"],
[value="fruit"]:checked ~ .filters [for="fruit"],
[value="classic"]:checked ~ .filters [for="classic"] {
  background: var(--green);
  color: var(--white);
}

[value="all-filling"]:checked ~ .posts [data-category] {
  display: block;
}

[value="chocolate"]:checked ~ .posts .post:not([data-category~="chocolate"]),
[value="fruit"]:checked ~ .posts .post:not([data-category~="fruit"]),
[value="classic"]:checked ~ .posts .post:not([data-category~="classic"]) {
  display: none;
}

/* MQ
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

.review-section {
  width: 100%;
  background-color: rgba(211, 183, 204, 0.5);
  padding-bottom: 20px;
}

.review-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review-content {
  background-color: #d3b7cc;
  padding-left: 15px;
  padding-right: 20px;
  border-radius: 0px 10px 10px 0px;
}

.review-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.review-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #808000;
}

.review-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000;
  margin: 0 auto;
}

.aboutUs-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.aboutUs-block .aboutUs-title {
  font-size: 32px;
  line-height: 56px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.aboutUs-block .aboutUs-subtitle {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.aboutUs-block .aboutUs-text {
  font-size: 16px;
  line-height: 20px;
}

.aboutUs-block .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs-block .social-link {
  width: 70px;
}

.aboutUs-block .aboutUs-images-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutUs-block .aboutUs-img-3 {
  margin-left: 15px;
  -webkit-transform: matrix(1, 0.09, -0.1, 1, 0, 0);
      -ms-transform: matrix(1, 0.09, -0.1, 1, 0, 0);
          transform: matrix(1, 0.09, -0.1, 1, 0, 0);
}

.footer {
  width: 100%;
}

.cap-footer {
  height: 300px;
  background: url(../img/icons/icon.svg#footer) no-repeat;
  background-size: 100%;
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header-body {
    height: 50px;
  }

  .header-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-right: 15px;
  }

  .header-burger span {
    position: absolute;
    background-color: #d3b7cc;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: #d3b7cc;
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header-burger:before {
    top: 0;
  }

  .header-burger:after {
    bottom: 0;
  }

  .header-burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fbd5e5;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 70px 10px 0px 10px;
  }

  .header-menu.active {
    top: 0;
  }

  .header-list {
    display: block;
  }

  .header-list li {
    margin: 0px 0px 20px 0px;
  }

  .header-link {
    font-size: 24px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}