@import "_sheets.scss";
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Pacifico&display=swap");

//--header

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}
.header:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fbd5e5;
   z-index: 2;
}
.header-container {
   max-width: 1180px;
   margin: 0 auto;
}
.header-body {
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 80px;
   align-items: center;
}
.header-logo {
   flex: 0 0 75px;
   position: relative;
   z-index: 3;
}
.header-logo img {
   max-width: 100%;
}
.header-list {
   display: flex;
   position: relative;
   z-index: 2;
}
.header-list li {
   list-style: none;
   margin-left: 20px;
}
.header-link {
   color: #d3b7cc;
   text-transform: uppercase;
   font-size: 18px;
   text-decoration: none;
}
.header-burger {
   display: none;
}
@media (max-width: 767px) {
   body.lock {
      overflow: hidden;
   }
   .header-body {
      height: 50px;
   }
   .header-logo {
      flex: 0 0 45px;
   }
   .header-burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
      margin-right: 15px;
   }
   .header-burger span {
      position: absolute;
      background-color: #d3b7cc;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
   }
   .header-burger:before,
   .header-burger:after {
      content: "";
      background-color: #d3b7cc;
      position: absolute;
      width: 100%;
      height: 2px;
      transition: all 0.5s ease 0s;
   }
   .header-burger:before {
      top: 0;
   }
   .header-burger:after {
      bottom: 0;
   }
   .header-burger.active:before {
      transform: rotate(45deg);
      top: 9px;
   }
   .header-burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header-burger.active span {
      transform: scale(0);
   }
   .header-menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #fbd5e5;
      transition: all 0.5s ease 0s;
      padding: 70px 10px 0px 10px;
   }
   .header-menu.active {
      top: 0;
   }
   .header-list {
      display: block;
   }
   .header-list li {
      margin: 0px 0px 20px 0px;
   }
   .header-link {
      font-size: 24px;
   }
}

//---
section {
   padding-top: 20px;
   padding-bottom: 60px;
}
//--cap
.cap-container {
   padding-top: 50px;
   background-color: #fbd5e5;
   margin: 0;

   .cap-content {
      align-items: center;
      justify-content: center;
      text-align: center;
   }
   .cap-title {
      font-family: Pacifico;
      font-style: normal;
      font-weight: normal;
      font-size: 62px;
      line-height: 74px;
      letter-spacing: 0.1em;
      color: #ffd700;
   }
   .cap-description {
      font-size: 82px;
      color: #75bbfd;
   }
   .cap-subtitle {
      margin-top: 20px;
      font-size: 24px;
      color: #808000;
   }
   .cap-subtitle {
      overflow: hidden;
   }
   .cap-subtitle:before,
   .cap-subtitle:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 1px;
      background: #6b8e23;
      margin: 10px;
   }
   .cap-subtitle:before {
      margin-left: -100%;
   }
   .cap-subtitle:after {
      margin-right: -100%;
   }

   .mint {
      height: 150px;
   }
}
//--
.container {
   width: 90%;
   max-width: 945px;
   margin: auto;

   .section-title {
      text-align: center;
      font-family: Pacifico;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 56px;
      letter-spacing: 0.3em;
      color: #ffd700;
   }
   .section-subtitle {
      text-align: center;
      font-family: Libre Caslon Display;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #808000;
      margin-bottom: 28px;
   }
}
.order-img {
   float: left;
   width: 20%;
   display: block;
   z-index: 2;

   img {
      float: right;
   }
}
.how-to-order {
   display: flex;
   align-items: flex-end;
}
.order-block {
   margin-left: -50px;
   float: left;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   box-shadow: 6px -4px 30px #fbd5e5, 0px -4px 30px #fbd5e5, inset 0px -6px 30px #b3b184, inset -8px 6px 30px #8fa053;
   border-radius: 0px 20px 20px 0px;

   .order-item {
      flex-basis: 35%;
      margin-top: 20px;
      margin-left: 10%;
      margin-right: 5%;
   }
   .order-image {
      width: 20%;
      float: left;
   }
   .order-content {
      width: 80%;
      float: left;
   }
   .order-title {
      font-family: Libre Caslon Display;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 23px;
      color: #75bbfd;
   }
   .order-subtitle {
      font-family: Pacifico;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 25px;
      color: #bfa100;
   }
   .underline {
      color: #bfa100;
      text-decoration: underline;
   }
}
.catalog-section {
   padding: 1.5rem;
}
:root {
   --black: #3a3a3a;
   --white: #fff;
   --green: #49b293;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}

ol {
   list-style: none;
}

h1 {
   text-align: center;
   margin-bottom: 2rem;
}

h1 a {
   transition: all 0.1s;
}

h1 a:hover {
   background: var(--green);
   color: var(--white);
}

input[type="radio"] {
   position: absolute;
   left: -9999px;
}

/* FILTERS
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.filter-heading {
   margin-top: 28px;
   display: flex;
   justify-content: center;
   margin-bottom: 40px;
}
.filter-wrapper {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
   border-radius: 20px;
   overflow: hidden;
}
.filters {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.filters label {
   padding: 0;
   border: 0;
   background-color: transparent;
   cursor: pointer;
   display: inline-block;
   text-align: center;
   padding: 13px;
   font-family: Libre Caslon Display;
   min-width: 100px;
   font-size: 12px;
   line-height: 14px;
   background: #f0f0f0;
   border-right: 1px solid #fbd5e5;
   transition: border 0.2s, background 0.2s, color 0.2s;
}

.filters label:hover {
   background: #75bbfd;
   border-right-color: #75bbfd;
}
/* FILTERED ELEMENTS (POSTS)
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.posts {
   display: grid;
   grid-gap: 1.5rem;
   grid-template-columns: repeat(4, 1fr);
}

.posts .post {
   background: #fafafa;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

.posts .post-title {
   font-size: 1.3rem;
}

.posts .post-title:hover {
   text-decoration: underline;
}

.posts figcaption {
   padding: 1rem;
}
.posts img {
   width: 100%;
   height: 100%;
}
/* FILTERING RULES
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
[value="all-design"]:checked ~ .filters [for="all-design"],
[value="wedding"]:checked ~ .filters [for="wedding"],
[value="kids"]:checked ~ .filters [for="kids"],
[value="woman"]:checked ~ .filters [for="woman"],
[value="man"]:checked ~ .filters [for="man"] {
   background: var(--green);
   color: var(--white);
}

[value="all-design"]:checked ~ .posts [data-category] {
   display: block;
}

[value="wedding"]:checked ~ .posts .post:not([data-category~="wedding"]),
[value="kids"]:checked ~ .posts .post:not([data-category~="kids"]),
[value="woman"]:checked ~ .posts .post:not([data-category~="woman"]),
[value="man"]:checked ~ .posts .post:not([data-category~="man"]) {
   display: none;
}
/* MQ
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
   .posts {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 650px) {
   html {
      font-size: 14px;
   }

   .posts {
      grid-template-columns: repeat(2, 1fr);
   }
}
